{% assign pages = site.pages | sort: "title" %}
<header id="page-header">
    <div id="menu">
        <div id="menu-logo">
            <a href="{{ '/' | relative_url }}">LightAsHell</a>
        </div>
        <nav id="navigation-menu">
            <ul id="menu-items">
                {% for page in pages %}
                    {% if page.title == "Home" or page.title == "Not found" %}
                    {% else %}

                        <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
                
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
    <h1>{{ page.title }}</h1>
    <hr>
</header>