/* Reseting defaults */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* Body general config */
body { text-align: justify; background-color: black; color:white; padding: 2%; }

a { color: lightblue }

/* Centralizing content */
.center { width: 60%; margin: 0 20%; }

/* Menu config */
#menu { margin-bottom: 5%; }

#menu-logo { display: inline; }
#menu-logo a { display: inline; }

#navigation-menu { display: inline; }
#navigation-menu ul { display: inline; float: right }
#navigation-menu ul li { display: inline; }

.content { margin: 5% 0; }

footer {text-align: center;}

.searchbox { text-align: center; color-scheme: dark;}

ul#posts { margin: 1% 0 0 5%; }
.post { margin: 2%; }

#togglemenu {display: none; cursor: pointer;}
@media (max-width: 1000px) {
    #togglemenu {display: block;}
    #navigation-menu ul {display: none;}
    .menuopen #navigation-menu ul {display: block;}
    .center { width: 100%; margin: 0 }
}